.activities {
  padding: 2rem 0 3rem 0;
  background: $secondary-background-color;
  .activitiesWrapper {
    width: 70%;
    padding: 0;
    .toptext, .bottext {text-align: center}
    .toptext {
      font-size: 1.3rem;
      font-weight: $semibold;
      color: $primary-color;
    }
    .bottext {
      font-size: 0.8rem;
      width: 60%;
      margin: auto;
      padding: 0.5rem 0 1rem 0;
    }
  }
  .contentWrapper {
    min-height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    #actImg1 {grid-area: 1 / 1 / 3 / 3;}
    #actImg2 { grid-area: 1 / 3 / 2 / 5; }
    #actImg3 { grid-area: 2 / 3 / 3 / 4; }
    #actImg4 { grid-area: 2 / 4 / 3 / 5; }
    #actImg5 { grid-area: 3 / 1 / 4 / 2; }
    #actImg6 { grid-area: 3 / 2 / 4 / 3; }
    #actImg7 { grid-area: 3 / 3 / 4 / 4; }
    #actImg8 { grid-area: 3 / 4 / 4 / 5; }
    > div {
      background: #1b1e21;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}