.__navbar {
  width: 100%;
  background-color: hsl(213, 100%, 28%);
  font-weight: $semibold;
  .navbar {
    width: 100%;
    a {
      text-decoration: none;
      font-size: 0.8rem;
    }
    .phoneNum, .fa-phone-volume {color: white;}
    .phoneNum {font-weight: normal;}
    .fa-phone-volume {
      font-size: 1rem;
      margin-right: 0.3rem;
    }
    ol {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      gap: 0.3rem;
      text-align: center;
      a {color: black;}
      .media {
        padding: 0 0.3rem;
        align-items: center;
        .facebook {color: hsl(215, 84%, 53%);}
        .youtube {color: hsl(0, 100%, 48%);}
        .mail {color: hsl(6, 90%, 54%)}
      }
    }
  }
}